<div class='col-sm-6 col-lg-4'>
  <div class="card">
    <div class="card-topper" style='background-image: url(<%= photo.photo_url_original %>);'>
    <%= link_to 'See more...', photo, class: 'btn btn-read' %></div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to photo.title, photo%></h4>
      <p class="card-text"><%= truncate(photo.description, length: 130) %></p>

    </div>
  </div>
</div>


<!-- <div class='col-sm-4'>
  <div class="thumbnail">
    <img src="<%= photo.photo_url_original %>"/>

    <div class="card-block">
      <h4 class="card-title"><%= link_to photo.title, photo%></h4>
      <p class="card-text"><%= truncate(photo.description, length: 130) %></p>
      <%= link_to 'See more...', photo, class: 'btn btn-read' %>
    </div>
  </div>
</div> -->
