<%= form_for(photo, url: users_photo_url) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-3">

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo_url_original%>
    <%= f.text_field :photo_url_original %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<div class="col-md-9">
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
</div>
</div>
<% end %>
