<div class="text-center">
	<div class="logo">You have found a restricted page, please log in to continue!</div>
	<div class="login-form-1">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'text-left'}) do |f| %>
		<div class="login-form-main-message"></div>
		<div class="main-login-form">

			<div class="login-group">
				<div class="form-group">
					<%= f.label :email, :class => 'sr-only', :for => 'user_email' %>

					<%= f.email_field :email, autofocus: true, :placeholder => 'email'  %>
				</div>
				<div class="form-group">
					<%= f.label :password, :class => 'sr-only', :for => 'user_password' %><br/>
					<%= f.password_field :password, autocomplete: "off", :placeholder => 'password'  %>
				</div>

				<% if devise_mapping.rememberable? -%>
				<div class="form-group login-group-checkbox">
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me %>
				</div>
				<% end -%>
				<div class="actions">
					<!-- <i class="fa fa-chevron-right"></i> -->
					<%= f.submit class: 'login-button', value: '*' %>

				</div>
				<!-- <%= render "devise/shared/links" %> -->
			</div>
			<% end %>

		</div>
