   
	  <div class="navbar-more-overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top animate">
		<div class="container navbar-more visible-xs">

		<div class="container-search">
          <%= search_field_tag 'query', nil, class: 'form-control', placeholder: 'Search marcetux'  %>
          <button class="icon"><i class="fa fa-search"></i></button>
    </div>
			
		
		</div>
		<div class="container">

      
			<ul class="nav navbar-nav navbar-left mobile-bar">
			<li class="nav-item">
			<div class="navbar-header navbar-left hidden-xs">
				<a class='logo' href='/'>
          Marcetux
        </a>
			</div>
					<div class="navbar-header-xs visible-xs">
				<a class='logo-xs' href='/'>
          Marcetux
        </a>
			</div>
			
			<li>
      <li class="nav-item">
        <div class="container-search hidden-xs">
          <%= search_field_tag 'query', nil, class: 'form-control', placeholder: 'Search marcetux'  %>
          <button class="icon"><i class="fa fa-search"></i></button>
        </div>
      </li>
				<li>
					<%= link_to timeline_path do %>
						<span class="menu-icon fa fa-home"></span>
						<span class="hidden-xs">Projects</span>
						<span class="visible-xs">Projects</span>
            <%end%>
				</li>
				<% if user_signed_in? %>
					<li>
					<%= link_to destroy_user_session_path, method: :delete do %>
						<span class="menu-icon fa fa-sign-out"></span>
						<span class="hidden-xs">Sign out</span>
						<span class="visible-xs">Sign out</span>           
					<%end%>
					</li>
				<% else %>
					<li>
					<%= link_to new_user_session_path do%>
						<span class="menu-icon fa fa-sign-in"></span>
						<span class="hidden-xs">Sign in</span>
						<span class="visible-xs">Sign in</span>
					<%end%>
					</li>
				<%end%>

		
				<li class="visible-xs">
					<a href="#navbar-more-show">
						<span class="menu-icon fa fa-search"></span>
						Search
					</a>
				</li>
			</ul>
		</div>
	</nav>


<!--

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class='container-fluid'>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class='logo' href='/'>
          Marcetux
        </a>
      </li>
      <li class="nav-item">
        <div class="container-search">
          <%= search_field_tag 'query', nil, class: 'form-control', placeholder: 'Search marcetux'  %>
          <button class="icon"><i class="fa fa-search"></i></button>
        </div>
      </li>
            <li class="nav-item">
              <%= link_to 'Home', home_path, class: "nav-link #{yield(:home_active)}" %>
            </li>
      <li class="nav-item">
        <%= link_to 'Projects', photos_path, class: "nav-link #{yield(:picture_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Timeline', timeline_path, class: "nav-link #{yield(:timeline_active)}" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Control panel', users_photos_path, class: "nav-link #{yield(:user)}" %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        
          <% if user_signed_in? %>
            <li><%= link_to destroy_ucssser_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"></span> Logout
            <%end%>
            </li>
          <% else %>
            <li><%= link_to new_user_session_path do%>
            <span class="glyphicon glyphicon-log-in"></span> Login
            <%end%>
            </li>
        <%end%>
        
      </ul>
  </div>
</nav>
-->