    <div class="navbar-more-overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top animate">
		<div class="container navbar-more visible-xs">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Submit</button>
						</span>
					</div>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a href="#">
						<span class="menu-icon fa fa-picture-o"></span>
						Photos
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-bell-o"></span>
						Reservations
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-picture-o"></span>
						Photos
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-bell-o"></span>
						Reservations
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-picture-o"></span>
						Photos
					</a>
				</li>
			</ul>
		</div>
		<div class="container">
			<ul class="nav navbar-nav navbar-left mobile-bar">
      <li class="nav-item">
			<div class="navbar-header hidden-sm hidden-md">
				<a class='logo' href='/'>
          Marcetux
        </a>
			</div><li><ul>
       

			<ul class="nav navbar-nav navbar-right mobile-bar">
      <li class="nav-item">
        <div class="container-search">
          <%= search_field_tag 'query', nil, class: 'form-control', placeholder: 'Search marcetux'  %>
          <button class="icon"><i class="fa fa-search"></i></button>
        </div>
      </li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-home"></span>
						Home
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-info"></span>
						<span class="hidden-xs">About the Boat</span>
						<span class="visible-xs">About</span>
					</a>
				</li>
				<li class="hidden-xs">
					<a href="#">
						<span class="menu-icon fa fa-picture-o"></span>
						Photos
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-ship"></span>
						Cruises
					</a>
				</li>
				<li class="hidden-xs">
					<a href="#">
						<span class="menu-icon fa fa-bell-o"></span>
						Reservations
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-phone"></span>						
						<span class="hidden-xs">Contact Us</span>
						<span class="visible-xs">Contact</span>
					</a>
				</li>
				<li class="visible-xs">
					<a href="#navbar-more-show">
						<span class="menu-icon fa fa-bars"></span>
						More
					</a>
				</li>
			</ul>
		</div>
	</nav>


<!--

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class='container-fluid'>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class='logo' href='/'>
          Marcetux
        </a>
      </li>
      <li class="nav-item">
        <div class="container-search">
          <%= search_field_tag 'query', nil, class: 'form-control', placeholder: 'Search marcetux'  %>
          <button class="icon"><i class="fa fa-search"></i></button>
        </div>
      </li>
            <li class="nav-item">
              <%= link_to 'Home', home_path, class: "nav-link #{yield(:home_active)}" %>
            </li>
      <li class="nav-item">
        <%= link_to 'Projects', photos_path, class: "nav-link #{yield(:picture_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Timeline', timeline_path, class: "nav-link #{yield(:timeline_active)}" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Control panel', users_photos_path, class: "nav-link #{yield(:user)}" %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        
          <% if user_signed_in? %>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"></span> Logout
            <%end%>
            </li>
          <% else %>
            <li><%= link_to new_user_session_path do%>
            <span class="glyphicon glyphicon-log-in"></span> Login
            <%end%>
            </li>
        <%end%>
        
      </ul>
  </div>
</nav>
-->