<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class='card'>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Photography', root_path, class: "nav-link #{yield(:picture_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Home', home_path, class: "nav-link #{yield(:home_active)}" %>
        </li>
        <!-- <li class="list-group-item">
          <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li> -->

        <% if user_signed_in? %>
          <li class="list-group-item">
            <%= link_to 'Control panel', users_photos_path, class: "nav-link #{yield(:user)}" %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-light bg-faded">
  <div class='container'>

    <!-- <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button> -->
    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <li class="nav-item">
        <a class='logo' href='/'>
          Marcetux
        </a>

            </li>
            <li class="nav-item">
              <%= link_to 'Home', home_path, class: "nav-link #{yield(:home_active)}" %>
            </li>
      <li class="nav-item">
        <%= link_to 'Photography', photos_path, class: "nav-link #{yield(:picture_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Engineering', engineering_path, class: "nav-link #{yield(:engineering_active)}" %>
      </li>

      <!-- <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li> -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Control panel', users_photos_path, class: "nav-link #{yield(:user)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
