<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:page_title) %></title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="hFFz2ooNEHdQubPoqF4RHVG15ucQnROrjTaWXtdrj0I" />
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body id="body-bg">
        <%= render 'layouts/navbar' %>
        <div class="container <%=controller_name %> <%= action_name %>">
            <%= yield %>
        </div>
    </body>
</html>
